<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Login</button>
    </form>
    <h3>New User? Sign up now!</h3>
    <form method="GET" action="/signup">
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
